.group-card {
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 5px;
  padding: 8px;
  margin: 12px;
  width: 350px;
  cursor: pointer;
  user-select: none;

  .user-tags {
    font-family: 'Permanent Marker', cursive;
    font-size: 12px;

    span {
      display: inline-block;
      background: rgba(0,0,0,0.2);
      border-radius: 4px;
      margin: 2px;
      padding: 4px 8px;
    }
  }
  h3 {
    margin-top: 0;
  }
}
