@import url('https://fonts.googleapis.com/css?family=Lato');
@import './app/group/group-card';
@import './app/group/group-container';
@import './app/user/user-container';
@import './app/user/user-card';

html, body, #root {
  margin: 0;
  height: 100%;
  font-family: 'Lato', sans-serif;
}

body, h1, h2, h3 {
  font-weight: 300
}

a {
  color: white;
  text-decoration: none;

  &:hover {
    color: #5aadbb;
  }
}

main {
  padding-bottom: 50px;
}

@keyframes quiver {
  40% {
    transform: translate3d(8px, 0, 0);
  }

  75% {
    transform: translate3d(-4px, 0, 0);
  }

  87% {
    transform: translate3d(2px, 0, 0);
  }
}

button {
  font-size: 14px;
  font-weight: 600;
  font-family: inherit;
  background: #fff;
  border: none;
  border-radius: 5px;
  padding: 12px 24px;
  box-shadow: -2px 2px 3px rgba(0,0,0,0.2);

  &:active {
    filter: invert(90%);
  }

  &:hover {
    animation: quiver 0.4s;
  }
}
